<!-- HEADER -->
<ion-toolbar class="ion-text-center paddTop">
    <img height="150px" width="150px" src="assets/car.png" alt="Logo TeLlevoApp">
    <ion-title class="font-monSB" mode="md">
        TeLlevoAPP
    </ion-title>
</ion-toolbar>

<!-- CUERPO -->
<ion-content>
    <ion-card mode="md">
        <ion-card-content>
            <ion-item>
                <ion-label class="font-monR" position="floating">Usuario</ion-label>
                <ion-input type="text" class="font-monR" [(ngModel)]="usuario.user"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="font-monR" position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
            </ion-item>
            <div style="margin-top: 2em;">
                <ion-button class="font-monR" color="secondary" type="submit" mode="md" expand="block" (click)="validarCredenciales()">Ingresar</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center font-monR" style="margin-top: 2em;">
        <a (click)="presentAlert()">¿Olvidaste tu contraseña?</a>
    </div>

    <div class="ion-text-center font-monR" style="margin-top: 2em;">
        <a href="mailto:isa.moreno@duocuc.cl,pa.carvajall@duocuc.cl?Subject=Confirmación de reserva&body=Se confirma reserva para viaje a las 22:40hrs el día 06/12/2021 con dirección a Quilpué Centro">Pruebita</a>
    </div>
</ion-content>