<ion-toolbar class="ion-text-center" color="secondary" style="padding-top: 1.8em;">
    <ion-toolbar-content slot="start" style="padding-left: 2em;">
        <img height="30px" width="30px" src="assets/car.png" alt="Logo TeLlevoApp">
    </ion-toolbar-content>
    <ion-title class="font-monSB paddRight" mode="md">TeLlevoAPP</ion-title>
</ion-toolbar>
<ion-content mode="ios">
    <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer style="background:rgb(255, 255, 255);" class="font-monR" mode="md">
    <!--Se incluye el footer para implementar los segments al final de la pantalla, de acuerdo a como se utilizan actualmente-->
    <ion-segment [(ngModel)]="active" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="micuenta">
            <ion-icon name="person"></ion-icon>
            <ion-label class="font-segment">Mi cuenta</ion-label>
        </ion-segment-button>
        <ion-segment-button value="viajar">
            <ion-icon name="car-sport"></ion-icon>
            <ion-label class="font-segment">Viajar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="misviajs">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label class="font-segment">Mis viajes</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-footer>