<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header class="ion-text-center">
            <div>
                <ion-card-title class="font-monR">Bienvenid@!</ion-card-title>
            </div>
        </ion-card-header>
        <ion-card-content class="ion-text-center font-monR">

        </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
        <ion-button class="font-monR" color="secondary" type="submit" mode="md" expand="block" (click)="salir()">Cerrar sesión</ion-button>
    </div>
</ion-content>