<ion-content mode="md" [fullscreen]="true">

    <ion-toolbar class="ion-text-center" color="primary">
        <ion-title class="font-monSB" mode="md" style="color: #FFFFFF;">Viajar</ion-title>
    </ion-toolbar>

    <ion-card>
        <ion-card-header class="ion-text-center">
            <div>
                <ion-card-title class="font-monR">Bienvenid@!</ion-card-title>
            </div>
            <!-- interpolación -->
            <small class="font-monR">{{fullname}}</small>
            <!-- Aquí se obtiene el nombre de usuario ingresado en el login, que se guardó previamente en el storage para mostrarlo por pantalla -->
        </ion-card-header>
    </ion-card>
    <!--PASAJERO-->
    <!--lo que ve un pasajero cuando no tiene viaje asignado-->
    <ion-card *ngIf="role=='V'">
        <ion-card-content>
            <div>
                <p class="font-monR">Viajes disponibles</p>
                <ion-item>
                    <ion-select class="font-monR" cancelText="Cerrar" interface="action-sheet" placeholder="Seleccione viaje" [(ngModel)]="Trips">
                        <ion-select-option class="font-monR" *ngFor="let t of Trips" [value]="t.id">{{t.destination}} - {{t.hour}}hrs - Costo del viaje: ${{t.cost}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-card-content>
        <ion-card-footer>
            <div>
                <ion-button class="font-monR ion-text-center" color="secondary" style="margin-bottom: 1em; margin-left: 2em; margin-right: 2em;" expand="full" (click)="irMapa()">Ver ubicación actual</ion-button>
            </div>
            <div class="ion-text-center">
                <ion-button class="font-monR ion-text-center" color="secondary" expand="full" style="margin-bottom: 1em; margin-left: 2em; margin-right: 2em;">Comenzar Viaje</ion-button>
            </div>
        </ion-card-footer>
    </ion-card>

    <!--CONDUCTOR-->
    <!--lo que ve un conductor cuando no tiene viaje asignado-->
    <ion-card *ngIf="role=='C'">
        <div>
            <p class="font-monR">Crear un viaje</p>
            <ion-item>
                <ion-label class="font-monR">Destino</ion-label>
                <ion-input type="text" [(ngModel)]="Trip.destination"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="font-monR">Hora</ion-label>
                <ion-input type="time" [(ngModel)]="Trip.hour"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="font-monR">Fecha</ion-label>
                <ion-input type="date" [(ngModel)]="Trip.date"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="font-monR">Precio</ion-label>
                <ion-input type="number" inputmode="numeric" [(ngModel)]="Trip.cost"></ion-input>
            </ion-item>
            <div>
                <ion-button class="font-monR ion-text-center" color="secondary" style="margin-bottom: 1em; margin-left: 2em; margin-right: 2em;" expand="full" (click)="irMapa()">Ver ubicación actual</ion-button>
            </div>
            <div class="ion-text-center">
                <ion-button class="font-monR ion-text-center" color="secondary" style="margin-bottom: 1em; margin-left: 2em; margin-right: 2em;" expand="full" (click)=createViaje() href={{emailstring}}>Crear</ion-button>
            </div>
        </div>

        <!-- mapa -->
        <div id="map" #map></div>

    </ion-card>

</ion-content>