<ion-content [fullscreen]="true">

    <ion-toolbar class="ion-text-center" color="primary">
        <ion-title class="font-monSB" mode="md" style="color: #FFFFFF;">Viajar</ion-title>
    </ion-toolbar>

    <ion-card>
        <ion-card-header class="ion-text-center">
            <div>
                <ion-card-title class="font-monR">Bienvenid@!</ion-card-title>
            </div>
            <!-- interpolación -->
            <small class="font-monR">Nombre Usuario</small>
            <!-- Aquí se obtiene el nombre de usuario ingresado en el login, para mostrarlo por pantalla -->
        </ion-card-header>
        <ion-card-content class="ion-text-center font-monR">
            <!-- llamar información del json para mostrar -->
            <ion-card-title style="font-size: 0.9em; padding-bottom: 2em;">Viajar o llevar?</ion-card-title>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <div>
                <p class="font-monR">Viajes disponibles </p>
                <ion-item>
                    <ion-select placeholder="Seleccione viaje" [(ngModel)]="Trips">
                        <ion-select-option *ngFor="let t of Trips" [value]="t.id">{{t.hour}}hrs - ${{t.cost}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="ion-text-center">
        <ion-button class="font-monR ion-text-center" color="secondary" style="margin-bottom: 1em;">Comenzar Viaje</ion-button>
    </div>

</ion-content>