<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header class="ion-text-center">
            <div>
                <ion-card-title class="font-monR">Bienvenid@!</ion-card-title>
            </div>
            <!-- interpolación -->
            <small class="font-monR">Nombre Usuario</small>
            <!-- Aquí se obtiene el nombre de usuario ingresado en el login, para mostrarlo por pantalla -->
        </ion-card-header>
        <ion-card-content class="ion-text-center font-monR">
            <!-- llamar información del json para mostrar -->
            <ion-card-title style="font-size: 0.9em; padding-bottom: 2em;">Viajar o llevar?</ion-card-title>

        </ion-card-content>
    </ion-card>
</ion-content>